nav a{
    font-weight: bold;
    font-size: 150%;
    background-color: darkred;
    color: red;
    padding: 25px;
    border-radius: 50px;
    text-decoration: none;
}

nav a:hover{
    background-color: rgb(192, 7, 7);
  }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkred;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    height: 100px;
    width: 100%;
    /*width: 100%;*/
    margin-bottom: 10px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 90%;
    background-image: url("images/header.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


header h1{
    font-family: Cochin;
    color: white;
    text-align: center;
    font-size: 250%;
    text-shadow: 1px 1px black;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0, .9);
}

#profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin: -80px;
    margin-bottom: 60px;
}

div#profile-image img{
    height: 150px;
    border-radius: 80px;
}

h2{
    color: white;
    font-style: italic;
    font-weight: bold;
    font-family: Verdana;
}

#profile-image h3{
    color: lightgray;
    font-family: Helvetica;
    font-style: italic;
    margin-top: -5px;
}

section{
    display: flex;
    width: 48%;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    color: white;
    font-family: Verdana;
    font-size: 120%;
}

section h1{
    font-size: 130%;
    text-shadow: 1px 1px red;
    height: 5%;
}

p{
    font-size: 100%;
    height: 40%;
}


footer{
    background-color: darkred;
    height: 80px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

footer h1{
    color: white;
    font-family: Verdana;
    text-align: center;
    font-size: 130%;
}

#backimage1{
    background-image: url("images/film1.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

#backimage2{
    background-image: url("images/film2.jpg");
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

#backimage3{
    background-image: url("images/film3.jpg");
    height: 540px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

#backimage4{
    background-image: url("images/film4.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

#backimage5{
    background-image: url("images/film5.jpg");
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    
}

.responsive-img{
    width: 100%;
  height: auto;
}

#image-container{
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 400px){
    
    nav{
        height: 50px;
        margin-bottom: 5px;
    }

    nav a{
        padding: 10px;
        font-size: 100%;
    }

    header{
        height: 150px;
    }

    header h1{
        font-size: 70%;
    }

    #profile-image{
        height: 100px;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    div#profile-image img{
        height: 50px;
    }

    #profile-image h2{
        font-size: 100%;
    }

    #profile-image h3{
        font-size: 70%;
    }

    section h1{
        font-size: 100%;
    }

    section{
        font-size: 100%;
    }

    footer{
        height: 50px;
        
    }

    footer h1{
        font-size: 100%;
    }

    p{
        font-size: 70%;
        width: 100%;
    }

    #backimage1{
        height: 150px;
        
    }

    #backimage2{
        height: 150px;
        
    }

    #backimage3{
        height: 150px;
        width: 100%;
       
    }

    #backimage4{
        height: 150px;
        width: 100%;
        
    }

    #backimage5{
        
        height: 130px;
        width: 100%;
    }
}